prebuilt/priv-app/NexusLauncherRelease/NexusLauncherRelease.apk
prebuilt/priv-app/PrebuiltGmsCore/PrebuiltGmsCore.apk
prebuilt/priv-app/GoogleServicesFramework/GoogleServicesFramework.apk
prebuilt/priv-app/Phonesky/Phonesky.apk

